@media all and (min-width: 1171px) {
}

/*TABLETY ITP.*/

@media all and (min-width: 992px) and (max-width: 1171px) {

/*SMARTFONY ITP.*/
    
@media all and (max-width: 992px) {
    #businesscard .name-job-title h1,
    #businesscard .name-job-title h2 {
        font-size: 12px;
    }
    
    #name,
    #mail,
    #msg {
    width: 80%;
/*
    color: white;
    background-color: rgb(43, 74, 100);
    border: none;
    margin-top: 20px;
*/
}
}
